body{
    background-color: white;
    height: auto;
}

.Container {
     display: flex;
    flex-wrap: wrap;
     text-align: center;
     font-family: "Javanese Text", serif ;
 }

.Full-header{

    background-color: white;
    -webkit-box-shadow: 0 1px 0 0 rgba(226, 30, 30, 0.55);
    box-shadow: 0 1px 0 0 rgba(255, 8, 8, 0.65);
    height: auto;
    position: fixed;
    width: 100%;
}

.header-container{
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    position: static;
    width: auto;
    padding: 10px 10px;
}
.cont-logo{
    width: 90px;
    height: 50px;
    background: url('../img/logo.png') no-repeat;
    background-size: 60%;
    vertical-align: middle;
}

#busqueda {
    font-size: 20px;
    border: hidden;
    width: 450px;
    height: 40px;
    padding-left: 20px;
    border-radius: 50px;
}

.principal{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
 }

.carpetas {
    height:140px;
    width: 310px;
    border: solid   black  2px;
    border-radius: 5px;
    background: url("../img/fondo-carpetas.jpg");
    margin: 10px;
}

img{
    height:140px;
    width: 310px;
    border-radius: 5px;
    padding-right: 50px;
}

.img{
    height:140px;
    width: 310px;
    transition-duration: 4s;
    transition-delay: 2s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
}
.img:hover{
    transform: translate(-78px,-35px) scale(0.5);
    -webkit-transform: translate(-78px,-35px) scale(0.5);
    -moz-transform: translate(-78px,-35px) scale(0.5);
    -o-transform: translate(-78px,-35px) scale(0.5);
    -ms-transform: translate(-78px,-35px) scale(0.5);
}

.text{
    position: relative;
    font-size: 18px;
    font-family: "Segoe UI Black";
    color: black;
    text-decoration: none;
    bottom:120px;
    left: 70px;
}


p{
    font-size: 20px;
    font-family: "Segoe UI Black";
    color: white;
}

/*LOGIN*/
.background{
    height: 500px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

}

.loginBox{
    -webkit-order: 0;
    order: 0;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    align-self: auto;
    border-radius: 1%;
    background-color: white;
    -webkit-box-shadow: 4px 7px 38px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 7px 38px -2px rgba(0,0,0,0.75);
    box-shadow: 4px 7px 38px -2px rgba(0,0,0,0.75);
    height: 400px;
    width: 500px;
    align-items: center;
}

.box-logo{
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 0px;
}

.box-logo > img{
    position: relative;
    width: 90px;
    bottom: 40px;
}

.box-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #000;
    font-family: "Ebrima";
    font-size: 11px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: teal;
    border-radius: 3px;
    color: white;
}

.box-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.box-content > p {
    color: #000;
    font-family: "Consolas";
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 20px;
}


.input{
    width:300px ;
    margin-bottom:15px ;
    background-color: #fff;
    border: solid 1px #ccc;
    box-shadow: none;
    position: relative;
    -webkit-font-smoothing: antialiased;
    border-radius: 3px;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    color: #333;
    font-size: 14px;
}

.psw-hide{
    visibility: hidden;
    display: none;
}

.psw-show{

}

.submit{
    font-size: 20px;
    color:white;
    background-color: #F82D63;
    border-radius: 5px;
}
.submit:focus{
    color: black;

}

.box-content > a{
    font-family: Consolas;
    font-size: 12px;
    color: black;
    padding: 5px;

}
